/* Reset (inspired by E. Meyers) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic Styles */
body {
  background: var(--bg-color);
  font: 14px/21px "Open Sans", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* Typography */
p { margin: 0 0 20px 0; }
p img { margin: 0; }
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

/* Blockquotes */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0px; padding: 0px 20px 0 15px; border-left: 2px solid var(--border-color); }
blockquote cite { display: block; font-size: 12px; color: var(--subtle-color); }
blockquote cite:before { content: "\2014 \0020"; }

hr { border: solid var(--border-color); border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* Lists */
ul, ol { margin-bottom: 20px; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
li { line-height: 18px; margin-bottom: 12px; }
li p { line-height: 21px; }

/* Images */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
